# Copy this file to .env and fill in your real values
# See .env.example for documentation
# RabbitMQ
export RABBITMQ_HOST="192.168.86.221"
export RABBITMQ_PORT="5672"
export RABBITMQ_USER="tbryant"
export RABBITMQ_PASS="alina2farthest2shipped7asgard"
export RABBITMQ_QUEUE="homelab.alerts"

# Apprise notification URLs (see https://github.com/caronc/apprise/wiki)
export APPRISE_NTFY_URL="ntfys://tbryant:tk_Plym0uth113109@ntfy.timmybtech.com/homelab-server-updates"
# export APPRISE_DISCORD_URL="discord://webhook_id/webhook_token"
# export APPRISE_EMAIL_URL="mailto://user:pass@smtp.example.com"
# export APPRISE_MATTERMOST_URL="mattermost://token@server/room"

# # Loki
# export LOKI_PUSH_URL="http://loki:3100/loki/api/v1/push"
